* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 100px;
}
#footer {
    background-color: #7e7e7e;
    position: relative;
    height: 150px;
    margin-top: -100px;
    clear: both;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 30px;
    font-size: 38pt;
}
p {
    color: white;
    text-align: center;
    margin-top: 1%;
    width: 50%;
    margin: 25%;
    font-size: 30px;
    font-size: 30pt;
    text-shadow: 1px 1px 3px black;
}
/* image of myself */
.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width:350px;
}
/* change bootstrap default brand text */
.navbar-brand {
    font-size: 150%;
}
.nav-link {
    font-size: 150%;
}
.carousel-item {
    width: 100%;
    height: 100%;
    height: 95vh;
    max-height: 550px;
    margin-bottom: 40px;
}
.main-slider {
    display: flex;
    height: 600px;
}