* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 100px;
}
#footer {
    background-color: #7e7e7e;
    position: relative;
    height: 150px;
    margin-top: -100px;
    clear: both;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 30px;
    font-size: 38pt;
    text-shadow: 1px 1px 3px black;
    font-family: Brush Script Std;
}

.h1-2 {
    color: white; 
    font-family: helvetica; 
    font-size: 30px;
}

p {
    color: white;
    text-align: center;
    margin-top: 1%;
    width: 50%;
    margin: 25%;
    font-size: 30px;
    font-size: 30pt;
    text-shadow: 1px 1px 3px black;
}

/* image of myself */
.img-circle { 
    border-radius:  50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width:500px;
    background: #141414;
    box-shadow: 0 0 15px 10px #141414; 
}

/* change bootstrap default brand text */

@import url(//db.onlinewebfonts.com/c/d44cb84b16ccdec82fa437a516e62b9a?family=Brush+Script+Std);

@font-face {
    font-family: "Brush Script Std"; 
    src: url("//db.onlinewebfonts.com/t/d44cb84b16ccdec82fa437a516e62b9a.eot"); 
    src: url("//db.onlinewebfonts.com/t/d44cb84b16ccdec82fa437a516e62b9a.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/d44cb84b16ccdec82fa437a516e62b9a.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/d44cb84b16ccdec82fa437a516e62b9a.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/d44cb84b16ccdec82fa437a516e62b9a.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/d44cb84b16ccdec82fa437a516e62b9a.svg#Brush Script Std") format("svg"); 
}.navbar-brand {
    font-family: Brush Script std;
    font-size: 250%;
}

.nav-link {
    font-size: 150%;
}

.carousel-item {
    width: 100%;
    height: 100%;
    height: 95vh;
    max-height: 550px;

}


.main-slider {
    display: flex;
}